html,
.special {
  padding: 10px;
  background: black;
}

.writing{
  color: white;
  font-family: sans-serif;
  font-size: medium;
}

.bar{
  fill: royalblue;
}

.bar:hover{
  fill: lightskyblue;
}

.d3-tip {
  line-height: 1;
  padding: 7px;
  background: rgba(135, 206, 250, 0.8);
  font-family: sans-serif;
  border-radius: 8px;
  text-align: center;
  color: black;
}

hr {
  border-top: 2px solid black;
  border-bottom: none;
}

.axis line{
  stroke: lightskyblue;
}

.axis path{
  stroke: lightskyblue;
}

.axis text{
  fill: lightskyblue;
}  

.options {
  background: lightskyblue;
}

.select {
	display: block;
	font-size: 16px;
	font-family: sans-serif;
	font-weight: 700;
  color: black;
  padding: 10px;
	line-height: 2;
	width: 175px;
	box-sizing: border-box;
	margin: 0;
  background-color: lightskyblue;
  border: none;
}

.select:hover {
  background-color: royalblue;
  color: white;
  border: none;
  box-shadow: royalblue;
}

.select option {
  font-weight:normal;
  background-color: lightskyblue;
  color: black;
}


